[2018-05-21 19:43] farskid opened #1 "Search in videos"
Great job Sara!

I wanna use the website regularly but I care about having a search mechanism to find some videos.

Sounds cool? I can ship fast :) Just Guide me through the GraphQL queries used in the app please.

[2018-05-21 19:53] SaraVieira commented on #1
Hey!

I was going to add that, right now it's harder but I will move the pagination to the front-end and then I will ping you then :)

[2018-05-21 19:54] farskid commented on #1
Hi!

Sounds cool! Will wait for it 👍

[2018-05-22 14:40] SaraVieira commented on #1
Hi !

All the pagination in now in the frontend 💃

Let me know if you need anything @farskid :D

[2018-05-22 15:09] timothyis opened #2 "Cinema Mode"
Would be amazing if there was some sort of “cinema mode” that made the video expand across the page. I like to binge-watch talks in a separate browser window off to the side.

Of course, this could be an edge-case since you can just click through to YouTube for their cinema mode. But I'd love to stay on the same site just to watch video after video.

This project is amazing, by the way, I've looke

[2018-05-22 22:54] farskid commented on #1
@SaraVieira I'm on it.

[2018-05-23 17:07] SaraVieira commented on #2
@timothyis You can see the cinema mode here: https://awesometalks.party/

[2018-05-23 18:16] timothyis commented on #2
That looks amazing @SaraVieira! Thank you very much 🤩

[2018-05-23 18:45] SaraVieira commented on #2
YAAAAY ! You can bookmark that website if you want as that is the final domain 😄

( .party domains were 90cts :p )

Oh ! You making kap ! It's amazing ! I use it everyday ! Thank you so much for making it 😄

_closing issue_

[2018-05-23 18:45] #2 closed

[2018-05-24 11:38] pksjce opened #6 "Videos listed like Netflix!"
I love this project and have been wanting such a thing for years! I think it has great potential to be the one stop place to search and find tech talks.
I would love it if it were designed like Netflix.
We could start with the categories page to experiment and then if its a success, apply it to the rest of the site.
Each tag could be lined so
![netflix-categories](https://user-images.githubusercon

[2018-05-24 12:01] SaraVieira commented on #6
Yellow !!

This is a great idea we can do with the categories page to start ! Sounds amazing !

Don't worry about the lazy loading I can help you with that when we got that PR.

Thank you so much for the idea and I would love to see this implemented :D

[2018-05-24 16:12] rahuldhawani opened #7 "Why shuffled talks?"
Superb knowledge source!!!

Was wondering, is there any reason why the talks are [shuffled](https://github.com/SaraVieira/awesome-talks/blob/master/src/Components/Talks.js#L18) on the homepage?

Opened your tweet, Sandi Metz talk was on top, opened the link on the laptop, boom, no more Sandi Metz talk on top 😢

PS: Any tasks to contribute to this project? Would love to help.

[2018-05-24 16:18] SaraVieira commented on #7
Hey!

Thanks :)

I did it so you wouldn't keep seeing the same talks over and over again

Do you think it would make sense to remove it?

Do you have anything you would like to add? :)

[2018-05-24 16:18] SaraVieira opened #8 "Write tests dumbass!!! Me @ Me"

[2018-05-24 16:18] SaraVieira opened #9 "Add a readme"
Readme should have how to run the thing, how to contribute to the thing, badges and other random stuff

[2018-05-24 16:19] SaraVieira commented on #1
@farskid how is it going? Need any help?

[2018-05-24 16:38] rahuldhawani commented on #7
Well, I guess, once the [search](https://github.com/SaraVieira/awesome-talks/issues/1) comes into the picture, shuffle will make sense.

Was the thought process to binge watch talks? In that case, it would make sense shuffle is great.

Things I would like to be added:
1) Search (I guess, it's being built already)
2) A "Propose a talk" page. As the theme of the Awesome Talks is curated talks, let p

[2018-05-24 18:50] SaraVieira commented on #1
Awesome!!

I was using appollo link state for the state, what did you use? :)

[2018-05-24 21:13] farskid commented on #1
@SaraVieira I'm having significant performance issues with `styles.input`. Is it something common?

[2018-05-24 23:46] SaraVieira commented on #1
Yeah , don't worry about it :)

[2018-05-25 00:30] #9 closed

[2018-05-25 03:13] cain opened #12 "Video names can be extremely long"
<img width="450" alt="screen shot 2018-05-25 at 12 48 14 pm" src="https://user-images.githubusercontent.com/15246256/40524308-46b6b414-601d-11e8-953f-931d9f18edb7.png">

[2018-05-25 03:15] cain opened #13 "Cinema mode close bug"
![kapture 2018-05-25 at 12 54 25](https://user-images.githubusercontent.com/15246256/40524371-8fbf1412-601d-11e8-9a10-161b73a356c2.gif)

[2018-05-25 07:01] vijaybritto opened #14 "Hard to read text in labels"
The font color is too light to read. Incredibly hard for people with visual disabilities.
![temp](https://user-images.githubusercontent.com/3725668/40530709-774e2392-6017-11e8-90f2-c4ea09058890.png)
Also, the speakers' names can be arranged in alphabetical order to look up quickly.
Like,
#A
Adam
Andrew
#B
Belle
Baddie
etc.,

[2018-05-25 07:56] farskid commented on #1
@SaraVieira I have an issue on the search functionality. Right now the only thing we can support is tagName on tagVideos query, am I right?
Is there a way we can support `name` variable on ALL_VIDEOS query to search for speakerName, videoName and tags at the same time?
Should we discuss it here or I'd better submit PR and discuss it there?

[2018-05-25 08:13] SaraVieira commented on #1
Hey !

I have been playing with the API and here is an example to search for speakers name, tag and name:

[code]

You can also play with it here: https://api.graphcms.com/simple/v1/cjhdcwrb98if90109o4pzawaq

I should have given you this like before, sorry about that :)

Also we can set up Algolia if you want :)

[2018-05-25 08:20] SaraVieira commented on #14
You are super right about this! I will fix it this morning :)

[2018-05-25 09:55] vijaybritto commented on #14
That's great. Looking forward to using this site every day!

________________________________
From: Sara Vieira <notifications@github.com>
Sent: Friday, May 25, 2018 1:50 PM
To: SaraVieira/awesome-talks
Cc: Vijay Britto; Author
Subject: Re: [SaraVieira/awesome-talks] Hard to read text in labels (#14)

You are super right about this! I will fix it this morning :)

—
You are receiving this because y

[2018-05-25 10:20] SaraVieira commented on #14
Hey !

Do you like it like this ?

<img width="1257" alt="screen shot 2018-05-25 at 11 19 45" src="https://user-images.githubusercontent.com/1051509/40539722-9455c166-600d-11e8-8fa5-db0b1ede8456.png">

[2018-05-25 12:21] SaraVieira commented on #13
Wow ! That was a weird react youtube bug where it kept rerendering things o.o

I just uploaded a new version with that fixed: https://awesometalks.party/

Let me know if it doesn't fix it :)

[2018-05-25 12:27] SaraVieira opened #16 "Some videos get repeated after a while"
Example: The Melting Pot of JavaScript

[2018-05-25 17:14] SaraVieira commented on #16
That was dumb and fixed

[2018-05-25 17:14] #16 closed

[2018-05-25 17:14] #14 closed

[2018-05-25 17:14] #13 closed

[2018-05-25 17:35] SaraVieira opened #17 "Add #announcements"
This will be for talks that happen when people use the talk to release something

[2018-05-25 17:35] SaraVieira opened #18 "Add #justAudio tag"
This will be for talks that can be just listened

[2018-05-26 10:33] latentflip opened #23 "Speaker bio"
Hey! Thanks for including me, any chance you could update my bio to be "Software Engineer @github" thanks!

[2018-05-26 10:47] SaraVieira commented on #23
Hey !

Thanks for making that talk, it was the first time I actually understood the event loop 👍

So sorry about the mess up, I think I had a hard time finding a bio for you :(

Fixed and updated: https://awesometalks.party/speaker/philip-roberts

[2018-05-26 10:48] SaraVieira opened #24 "Add link to correct info for every speaker"
This will just redirect to a create new issue page on GH with the stuff filled out

[2018-05-26 10:53] latentflip commented on #23
No worries, turns out I'm really slow at updating my twitter bio myself!

Thanks!

[2018-05-26 10:53] #23 closed

[2018-05-26 19:04] pixelkritzel opened #25 "Wrong Speaker info for Anjana Vakil"
Hey! The info on Anjana Vakil is wrong, what is wrong is the video doesn't work

[2018-05-26 19:30] SaraVieira commented on #25
Hey !

Thank you for the info and fixed 👍

[2018-05-26 19:30] #25 closed

[2018-05-26 19:31] #24 closed

[2018-05-27 02:53] tsiq-swyx opened #26 "why use injectGlobal and remcalc?"
Hi Sara! just trying to learn from your code!

I notice in https://github.com/SaraVieira/awesome-talks/blob/master/src/Utils/global-styles.js you use `injectGlobal` from styled-components, together with `remcalc`.

I do use css-in-js but normally here i'd just have a `global.css` and import it, and just use rem's everywhere.

I'm not disagreeing with you here, just thought it was an interesting te

[2018-05-27 09:46] SaraVieira commented on #1
Hey!

How is it going? I can pick it up if you having a lot of issues :)

[2018-05-27 11:48] alexnm opened #28 "Add dynamic social media cards"
Would be nice to have the speakers page look nice when shared on fb/twitter with the name / photo and maybe description. Not familiar with the Preact ecosystem, is there something like react-helmet to help with this kind of functionality?

[2018-05-27 11:59] SaraVieira commented on #28
Good thinking! Anything from the react ecosystem works with preact :)

So react helmet probably does  👌

[2018-05-27 12:40] farskid commented on #1
Hey!

Yeah. first experience with GraphQL is hard :)

ok, I'll send the PR and let's see how bad it is :)

[2018-05-27 12:54] SaraVieira commented on #1
Can't wait! We will go over it together :)

On Sun, 27 May 2018, 13:40 Farzad YZ, <notifications@github.com> wrote:

--

Thank you
Sara Vieira

[2018-05-27 13:37] SaraVieira commented on #26
Hey !

That's your mistake right there 😂

I don't have a specific reason but some reasons why I started coding this way with styled components.
* First I don't know how to css with nesting anymore and adding the inject global allows me to do nesting while a normal css file would not.
* Then I also think it's helpful the fact that I can still use the theme colors in there so if I change that color

[2018-05-27 17:17] tsiq-swyx commented on #26
interesting. thank you very much! yea i know css in js is a very very unsolved problem so i'm always on the look out for how other people do it. i'm sure what i do (pure css + style tag 90% of the time, then styled-components) can't really be the "best" way.

[2018-05-27 17:17] #26 closed

[2018-05-27 19:06] SaraVieira commented on #1
closed by #30

[2018-05-27 19:06] #1 closed

[2018-05-27 20:11] farskid commented on #7
@rahuldhawani
Search is now merged and built into the website https://github.com/SaraVieira/awesome-talks/pull/30
I'm not sure about the deployment process though.

About the proposal feature, I'd say it's a bit overkill to ask for votes from people since the project is rather young. Would it make sense to let all the videos, be added to the list and instead offer a *report as not awesome enough*

[2018-05-27 22:38] SaraVieira opened #32 "Make separate page for adding a talk"
No one likes modals also this way them bundlesize can get smaller since formik is only loaded there

Also add a why to add this talk and a tags thingy to the form

Make jazzy submit animation

[2018-05-27 22:40] SaraVieira commented on #28
I added react helmet and it made it worse for some reason when it comes to Twitter o.o

There is a place to test here: https://cards-dev.twitter.com/validator

And a link: https://awesometalks.party/speaker/sarah-drasner

[2018-05-27 22:42] SaraVieira commented on #7
This is a great idea! It will force me to make some validation for the form and make it in another page and that is already and issue I created so by validating the ID the person passes this is super doable :)

[2018-05-27 23:09] tsiq-swyx commented on #32
interesting, no one likes modals? I'm not a UX expert but i've often felt i prefer modals (feels easier to escape if i accidentally click, for example, and state easily persists if i type something and click away and i come back to it). wonder if theres any research on this topic.

you looking for contributors or do you have this?

[2018-05-27 23:26] SaraVieira commented on #32
I'm not either , this was just a thought but in this case you may right actually, if you accidentally click there there goes your search and everything, I can just lazy load the modal itself when it's called

The other ideas was to implement something like https://www.npmjs.com/package/react-dom-confetti on the button when the person submits a talk, inspired by https://twitter.com/joshwcomeau?lang

[2018-05-27 23:29] SaraVieira commented on #32
This also not a show stopper in any way so take your time doing it and feel free to change anything in the form I have @tsiq-swyx

[2018-05-28 06:35] vijaybritto commented on #14
This is good enough!

[2018-05-28 06:55] gagyibenedek commented on #7
Write a spec for the validation in a different issue, and I may be able to jump in with a PR :)

[2018-05-28 06:56] gagyibenedek commented on #7
Omg, it's too early for me to read :O So yeah, a PR may arrive for the other issue :)

[2018-05-28 07:12] alexnm commented on #28
Maybe react-helmet doesn't work 100% with preact? I found this also https://github.com/Download/preact-helmet looks like the same API

From what I see in the sarah's page, the head tags are not updated with react-helmet
<img width="566" alt="screen shot 2018-05-28 at 10 11 17" src="https://user-images.githubusercontent.com/9945366/40601932-9e35ddde-625f-11e8-8a3e-1e27cddbdab0.png">

[2018-05-28 08:37] SaraVieira opened #34 "Make single video page"
Good for sharing and adding some comments maybe

Link to API: https://api.graphcms.com/simple/v1/awesometalks

Query:

[code]

Replace the id with the name of the current video :)

In react router please create a new route with the name param.
To linkify the name here is the function already used in the speakers page:

[code]

and in https://github.com/SaraVieira/awesome-talks/blob/master/src/Page

[2018-05-28 08:54] SaraVieira commented on #7
I'm creating the other issue now :)

[2018-05-28 08:54] SaraVieira commented on #32
closed as @tsiq-swyx was right about the modal, going to create new issue about the validation

[2018-05-28 08:54] #32 closed

[2018-05-28 09:02] SaraVieira opened #35 "Better Form Validation"
In order to have a page for people to vote on talks we need to have better validation on the form, right now it's only required so my idea is:

- Create a new autcomplete input maybe using https://github.com/paypal/downshift and this query to get the tags:

[code]

and when the person submits we just need to pass the tagID. This is not mandatory

- Have a better validation on the link since I only

[2018-05-28 09:02] SaraVieira commented on #7
@gagyibenedek  https://github.com/SaraVieira/awesome-talks/issues/35

[2018-05-28 09:04] SaraVieira commented on #7
Closing as I am creating an issue for the form validation and one for the propose a talk page 👌

[2018-05-28 09:04] #7 closed

[2018-05-28 09:06] SaraVieira opened #36 "Add Proposed talks page"
[code]

[code]

[code]

All these comments can be found on #7

Add this page as an experiment but this page is right now blocked by #35

The query is:

[code]

[2018-05-28 09:08] SaraVieira opened #37 "Move to Next or After.js"
We need server side because of media tags and good deeplinking so ... :(

[2018-05-28 10:18] SaraVieira commented on #35
Forgot to mention but I am using Formik, feel free to change that too :)

[2018-05-28 10:19] SaraVieira commented on #35
And thank you :)

[2018-05-28 17:34] farskid commented on #37
@SaraVieira Let's discuss moving to next.js?

[2018-05-28 17:36] farskid commented on #34
I like this idea. There would also be enough room to expand video player into cinema mode and have a better UX.

[2018-05-28 17:40] SaraVieira commented on #34
Exacly! It's also great for speakers to send :)

[2018-05-28 17:41] SaraVieira commented on #37
I already started the move to after js mainly because I prefer writung my own routes and stuff, you can check out the code in #35

[2018-05-28 21:39] tsiq-swyx commented on #32
oh lol i was just discussing :)

[2018-05-28 21:42] tsiq-swyx commented on #37
interesting to watch this project evolve :)

[2018-05-28 22:47] SaraVieira opened #41 "[Request For Comments] - Is the shuffling of the talks worth it ?"
Yellow Everyone !

SO I have been trying to move this to a server side rendered app for SEO, performance reasons and also so I can get a server to cache the requests in the future and the biggest issue I have been having is the shuffle of the talks because that has to be done when the data arrives and then all I can do is lazy load things but I can't really apply pagination :(

My question here is

[2018-05-29 00:06] cain commented on #37
nuxtjs 😸

[2018-05-29 00:32] tsiq-swyx commented on #41
i am having deja vu because i swear i have come across this exact issue before with some other popular site. i would say to remove it. seo/perf more important.

now if only you had react suspense SSR :)

[2018-05-29 07:15] farskid commented on #41
I'd say we can skip it for now and do the pagination on the client side. SSR has more priority than caching the video request IMO.
But we might wanna have it in mind that it's probably needed to be considered in the future.

[2018-05-29 07:26] cain commented on #41
Vote to remove. Exactly what @pksjce said 😄

[2018-05-29 07:42] pksjce opened #42 "Dark mode!"
Would love to have this.
I'm thinking of doing this using the top level theme in styled components theme provider.

[2018-05-29 08:14] gagyibenedek commented on #41
I'm not a fan of the shuffling, so I'm totally fine with letting it go.
I'm not sure I understand what's the technical difficulty tho. At some point, before the actual rendering is done on the server side, you have a list of talks that need to be handled. Can't you apply the shuffle algorithm on that list, on server side?

(hey @pksjce, it's nice running into you here :) )

[2018-05-29 08:57] SaraVieira commented on #42
I had this idea too! I would be amazing! 💯

[2018-05-29 11:12] SaraVieira commented on #41
The problem is I get the talks and then shuffle them on the server or the client and after that I need something to lazy load the ones not shown and the lazy loading believes there is a window height and there is not on the server so it just doesn't show anything untill we get to the client

This also means that I can't do the pagination on the server because to shuffle them I need all the talks a

[2018-05-29 12:05] varjmes commented on #41
BANISH!

[2018-05-29 13:32] dan2k3k4 opened #43 "Show video length"
We tend to sync together to watch frontend related conference talks over lunch, so being able to see how long each video is without having to click to play each video would be helpful to know which videos we can watch given only a certain about of time left at lunch.

[2018-05-29 14:57] SaraVieira commented on #43
Hey !

This is a GREAT idea so I started hacking away at it and I think I got a pretty solid implementation at https://github.com/SaraVieira/awesome-talks/pull/44

You can see the demo here: https://5b0d69eadd6a540f7d24c206--peaceful-banach-108bd4.netlify.com/

What do you think ?

[2018-05-29 17:48] tsiq-swyx commented on #43
looks great. in fact its so impt a bing style filter (<20min, 20-60min,
60+++) might be helpful for this exact use case. the TED website does this
too

On Tue, May 29, 2018 at 10:58 AM Sara Vieira <notifications@github.com>
wrote:

[2018-05-29 18:22] SaraVieira commented on #43
It's very helpful ! Once this is merged I will work on that filter and also an order by duration :)

[2018-05-30 05:52] dan2k3k4 commented on #43
Hey @SaraVieira, looks great so far, although I think the bold on `Duration:` draws people's attention a little too much - and then you don't really notice the tags anymore.

Do we need the state `Duration:` or would just showing `55min`, `1hr 13min` work?

Also, if we're going with full `hour` and `minute` then `2 hour and 4 minutes` should be `2 hours and 4 minutes` :)

[2018-05-30 06:02] SaraVieira commented on #43
Both of your ideas may be better because I have no idea how to make things plurar in moment :(

I'll be flying to Amsterdam today morning but I'll get to this in the afternoon :)

[2018-05-30 06:41] sudovijay opened #49 "[Request] Search Filter In Speakers Page"
As you listing all speakers at once and its a long list so adding a live filter search can help in looking for someone up easily .. even you can also cache that api.graphcms.com response for a while may be,

[2018-05-30 06:54] sudovijay opened #50 "[Request] Improve Search"
I don't know much about GraphQL, didn't bother to learn it yet so don't know how things work here but got few suggestions

- Now you storing duration we could filter videos by duration like **> 10 minutes** so if someone has 10 free minutes he could search for videos under 10 minutes.
- You loading full list of videos in a single requests so there's no need to have submit based search. we could im

[2018-05-30 06:58] sudovijay opened #51 "[Optional Request] A better logo may be"
This one just doesn't have that feel, i'm not saying its bad as i'm no designer, it just doesn't fit with the site theme 🙂

[2018-05-30 07:05] sudovijay opened #52 "[Caching] Need to cache stuff"
As i did notice its a PWA but it doesn't cache graphcms.com requests so all one could see in offline mode is this

even an average requests to graphcms takes about 1.5 seconds and 100kb ( 33kb gzipped ) data to load so when the user refreshes the page it shows that preloader every single time, why not cache it for a while,

[2018-05-31 10:48] #43 closed

[2018-05-31 11:17] SaraVieira commented on #41
closed by #37

[2018-05-31 11:17] #41 closed

[2018-05-31 11:17] #37 closed

[2018-05-31 11:17] SaraVieira commented on #49
Adding this now :)

[2018-05-31 11:47] SaraVieira commented on #49
Closed by https://github.com/SaraVieira/awesome-talks/commit/f9e66b668505495c00b467ef662997c62939088c

[2018-05-31 11:47] #49 closed

[2018-05-31 19:16] gagyibenedek commented on #35
Here's an alpha version for this: https://github.com/SaraVieira/awesome-talks/pull/57
One more validation step I was thinking about: we could ping the url (www.youtube.com?v=________) to check if it exists.
Also, this solution is pretty optimistic: it just helps with formatting but it won't filter out any jibberish random things they may put there. The only way I can think of that would enforce th

[2018-05-31 20:02] NickyMeuleman opened #58 "Tilt animation still on in cinema mode"
When watching a video in cinema mode the tilting animation isn't completely disabled, causing this:
![chrome_2018-05-31_21-56-38](https://user-images.githubusercontent.com/30179461/40805316-295e60c8-651e-11e8-84f3-ea34b1eb8f3f.png)
Reproduce: click enable cinema mode on a video and move your pointer inside the video on the top right edge.

[2018-05-31 22:41] SaraVieira commented on #35
Already merged and thank you so much 🎉

I think we should enforce urls now that we can remove the rest, all we really have to do is change the placeholder to be "Insert youtube link".

[code]
Sorry , I didn't see this, you can always ping me on twitter :)

Also adding you to the project as it's easier to iterate over things :)

[2018-05-31 22:42] SaraVieira commented on #35
Love the tshirt on your profile pic btw ⚡️

[2018-05-31 22:44] SaraVieira commented on #52
I have removed the PWA but it will be added again and I am now working on the server to cache the requests to graphcms for about an hour and clean that every hour.

I can't go over the call limit ahah

[2018-05-31 22:45] SaraVieira commented on #51
You are right, I made that on a rush , I'll tweet this out and see if anyone is willing to help 🙌

[2018-05-31 22:47] SaraVieira commented on #50
This is planned and will be the next thing to add :D

even the search box look bit smaller with respect to the text talks
Fixed by BE pagination and serverside rendering

Could you explain this better ?

[2018-05-31 22:48] SaraVieira commented on #28
Fixed by SSR :D

[2018-05-31 22:48] #28 closed

[2018-05-31 22:49] SaraVieira commented on #18
This is just GraphCMS Content Work :)

[2018-05-31 22:49] SaraVieira commented on #17
This is just GraphCMS Content Work :)

[2018-05-31 22:50] SaraVieira commented on #6
Hey !

@pksjce Should I close this issue ? Do you still want to implement this ? :)

[2018-05-31 22:55] SaraVieira opened #59 "Weird bug when hovering on Video and in the SVGS"
See GIF :(
![kapture 2018-06-01 at 0 51 56](https://user-images.githubusercontent.com/1051509/40812412-07ad8180-6536-11e8-9401-ed0470f25274.gif)

[2018-05-31 22:57] hosmelq commented on #50
I think it refers to the new github functionality, if you press `/` it takes you to the search box.

[2018-06-01 01:41] pksjce commented on #6
I'm foolishly building my own carousel, this is a great real world example for me to use. It might take some time though. I'm not somebody who codes a lot out of office. So, its really upto you. But I honestly browsing videos and shopping items are legit use cases for carousels and done right they can be sooo good.

[2018-06-01 02:04] cain commented on #6
I might give this a crack next week 😃

[2018-06-01 02:28] sudovijay commented on #50
it just new on github, most of the websites already uses that way before github :) kinda handy and cool

[2018-06-01 02:59] sudovijay commented on #50
Anyway gurl you going to reach your limits soon ⛔️ as i just search sara and it calls a total of 5 requests to graphcms,  tbh the search look pretty cool now but you need to call the apis only when the user finished typing may be? that'll be better i quess, or cached the api results as well, caching is must if you using api

One more thing you could implement `ESC` key focusing out of search field

[2018-06-01 03:01] sudovijay commented on #52
why just an hour? than you need to run a cron to clear that every hour , why bother doing all that? you could clear cache when you approve a new video in the list or add new speaker basically do any change. how about that?

[2018-06-01 03:23] cain opened #60 "New Design"
Hello people.

I had some spare time, so i decided to have a look for a new design. I may have gone a bit crazy on the emoji's but would love some feedback!
![design test](https://user-images.githubusercontent.com/15246256/40819529-eb8a51ae-659e-11e8-9116-60dff7c8630c.png)

@pksjce @SaraVieira @farskid @tsiq-swyx @SaraVieira @varjmes @glennreyes @hosmelq

[2018-06-01 03:30] sudovijay commented on #60
it look similar , just few changes here & there, its better to implement them here if needed just saying 🙂

[2018-06-01 07:37] SaraVieira commented on #60
I'm going to ping @siddharthkp because he wants some design improvements here :)

I ❤️ the nav and the tags!

There is also a logo for the logo so we should work. On that thogheter 😍

Can you put that on Figma so we can all collaborate? :)

[2018-06-01 07:38] SaraVieira commented on #52
So I should add an endpoint that just clears the cache? Does that sound like a good idea?

[2018-06-01 07:46] SaraVieira commented on #50
Both of those things are pretty doable and great ideas for the / and the esc :)

We already have a debounce now and yes I will cache does responses too, it will just be an huge array 😂

Maybe create a new issue just for the search shortcut, is that okay?

[2018-06-01 07:47] SaraVieira commented on #6
Oh noes, if it's still a good idea it will stay open 👌

I'll just add some tags :)

@cain let me know if you need help :)

[2018-06-01 07:52] siddharthkp commented on #60
Love it!

I'm all over it 😄

[2018-06-01 08:47] sudovijay commented on #50
thats'll be too many open issues, nevamind doing that 🙂

[2018-06-01 08:50] sudovijay opened #63 "[Request] Search Shortcuts"
Need some shortcuts here bcs we're lazy af

- `/` (Slash) - Search field focus basically takes you to search box.
- `ESC` (Esc Key) - Focus out from the search field

[2018-06-01 08:55] sudovijay commented on #52
yep kind of calling a hook may be which clears the cache for ya 🙂

[2018-06-01 08:57] SaraVieira commented on #50
But close this one :)

On Fri, 1 Jun 2018, 10:47 Vijay Singh, <notifications@github.com> wrote:

--

Thank you
Sara Vieira

[2018-06-01 08:58] #50 closed

[2018-06-01 13:35] hosmelq commented on #60
Amazing, I like the nav and the new position of the author's name ♥️

[2018-06-02 06:40] cain commented on #60
https://www.figma.com/file/Qm18JEjdYsYGo721cUXAoJJg/Awesometalks-design send me emails for permissions 😄

[2018-06-02 07:14] SaraVieira commented on #60
Hey@iamsaravieira.com :)

[2018-06-02 08:07] teddy-error opened #66 "Wrong Speaker info for Zeynep Tufekci"
Hey! [The info on  **Zeynep Tufekci**](https://awesometalks.party/speaker/-zeynep-tufekci) is wrong, what is wrong is:
She is incorrectly cited on **Alex Qin**'s talk [Shaving My Head Made Me a Better Programmer](https://www.youtube.com/watch?v=jJFuAce9mZU)

[2018-06-02 08:58] SaraVieira commented on #66
Dang....

[2018-06-02 08:58] SaraVieira commented on #66
I'mma fix it!

[2018-06-02 09:19] SaraVieira commented on #66
Fixed it! It should be a while before it gets to the app tho

[2018-06-02 09:19] #66 closed

[2018-06-02 13:01] hosmelq commented on #60
hosmelq@gmail.com

[2018-06-02 14:57] siddharthkp commented on #60
siddharth.kshetrapal@gmail.com

[2018-06-02 17:04] sudovijay commented on #59
can't reproduce this error, lets call it a hidden effect 🙂 could be browser issue though

[2018-06-02 17:04] douglance opened #68 "Add sorting"
Sort by popularity would be nice.

[2018-06-02 17:07] SaraVieira commented on #59
Oh, what browser are you using?

[2018-06-02 17:07] SaraVieira commented on #68
Would by YouTube views work?

[2018-06-02 17:08] hosmelq commented on #59
I could only reproduce this on Linux and Windows machines.

[2018-06-02 17:09] sudovijay commented on #68
it'll be like comparing talks / them lol some peeps can get offended  idk, anyway we could do that by fav count (need to store that too) or by views ( like times a video viewed till end),  but that'll make things complicated,

could do by youtube views which we already have via api , that'll be easy to implement too

[2018-06-02 17:11] sudovijay commented on #59
did tried on Chrome 67.0 , Firefox 60 & Safari 11.1, seems to work fine for me 🙂 on mac os though,

[2018-06-02 17:17] SaraVieira commented on #59
Weird, I'll try again

On Sat, 2 Jun 2018, 19:11 Vijay Singh, <notifications@github.com> wrote:

--

Thank you
Sara Vieira

[2018-06-02 20:11] teddy-error opened #69 "Duplicate submissions result in uncaught GraphQL exception"
Error: `GraphQL error: A unique constraint would be violated on Videos`

Expected behavior:
GraphQL error is caught and handled by toggling an error message to the user

[2018-06-02 21:03] SaraVieira commented on #69
Hey!

Sorry for that! There is already a PR to show the user an error :)

I'll close when the PR is merged :)

[2018-06-02 21:04] SaraVieira commented on #68
I think the problem. We could have with YouTube views is that Ted vídeos would always come first and that is not necessarily what we want :(

[2018-06-02 23:58] cain commented on #60
Done

[2018-06-03 03:58] sudovijay commented on #68
yep, sorting via fav count is much better way i quess, but there are quite a things that need to be taken care of like unique user ip , anyone can spam fav count as we storing them locally by using multiple sessions or by clearing localStorage <favorites__awesome-talks> & storing IPs with fav count  just not worth it for such website, We could do csrf token based validation though that compares pr

[2018-06-03 05:09] sudovijay opened #70 "Not an Issue"
hey, just saw your last commit , 60b2922c6268d7d624201ed90e01b0fad9e18243 , i noticed you did removed these opts  from Player component which we passed , having controls is ok ( the point is moot) but you sure you want related videos?
`
host: 'https://www.youtube-nocookie.com',
                        playerVars: {
                            rel: 0,
                            showinfo: 0

[2018-06-03 05:43] sudovijay commented on #69
All errors catched, b01b6bd74ab0064bf2ff77887fb4dd389aa624a3 you can close the issue

[2018-06-03 06:05] SaraVieira commented on #70
That was a mistake! I gotta put the back!!!

[2018-06-03 06:08] sudovijay commented on #70
lol you sure? okay adding 'em back,  enjoy the weekend 🙂

[2018-06-03 06:09] #70 closed

[2018-06-03 06:11] SaraVieira commented on #70
But let the controls stay please, it's way easier to work that way :)

Thank you and have a great weekend!

[2018-06-03 11:16] pksjce commented on #60
I love the positioning of the speaker name. Such a small effective change!

[2018-06-03 11:20] pksjce commented on #8
We did add storybooks :) So, kinda closeworthy for now?

[2018-06-03 11:26] SaraVieira commented on #8
True! I'mma close this and work on making storybook increasingly more awesome

[2018-06-03 11:26] #8 closed

[2018-06-03 11:34] sudovijay opened #71 "Binge Watch! 📺"
Right now when a user end watching a video it get added in its watched list which is cool but why not we take it a step further like autoplaying similar videos probably by same speaker, same category or even similar to title (whichever available) , it'll be great to have this and i quess easy to implement too,

[2018-06-03 11:37] SaraVieira commented on #71
This would be amazing! If you are on cinema mode just show related videos and play those in there!

Just need a simple related algorithm, I don't think it will be too hard too!

[2018-06-03 11:41] SaraVieira commented on #68
So, the first step to making this is add a liked property on the backend that will increase when someone likes a video, so it will be stored in localstorage for that user and also in the CMS, I can start by adding that and after that the sort by popularity can be a combination of both, YouTube views count like 30% and the likes count like 70% so this way we can make it as soon as possible even if

[2018-06-03 11:56] sudovijay commented on #68
people can clear localStorage & even fake likes if they wanted to, we need to do something for that but lets not think about that now,  one thing at a time,  Combination of both youtube views count and likes count sounds great to me,

[2018-06-03 18:40] sudovijay commented on #63
done here 3bd3c2011d3f1ea2b2253233bd71cff79ead7632 , closing issue 🙂

[2018-06-03 18:40] #63 closed

[2018-06-03 19:52] sudovijay commented on #60
did a minor change in design for now , based on comments.  In PR #65  commit 565ce35bad6f196901dc49ed6b703269c8130f35 , until you guys finalize something, just to let you know im no designer so lemme know how you feel about it, will revert the commit otherwise.

[2018-06-03 19:57] sudovijay commented on #51
[just a reminder] you need to tweet girl lol or make a new one, this one just not right. 🙂

[2018-06-03 23:15] cain commented on #60
@SaraVieira @siddharthkp Whats the go with the design?

Yes, No? Anyone working on it besides https://github.com/SaraVieira/awesome-talks/commit/565ce35bad6f196901dc49ed6b703269c8130f35 ?

[2018-06-04 00:34] hosmelq commented on #60
I can help with this one if the current design stays.

[2018-06-04 02:50] siddharthkp commented on #60
Looks really good! I'm going to work on it in super slow motion 😅

Feel free to jump ahead and start implementing stuff

[2018-06-04 03:00] cain commented on #60
@siddharthkp Want to set up a feature branch we can work on?

[2018-06-04 03:05] siddharthkp commented on #60
https://github.com/SaraVieira/awesome-talks/tree/redesign

[2018-06-04 03:49] siddharthkp opened #72 "Feature request: Save for later/bookmark"
Sometimes you see a talk you want to watch, but can't do it right now

Save it for later?

[2018-06-04 05:27] sudovijay commented on #72
Yes kinda add to watch list, sounds a good idea to me and easy to implement too

[2018-06-04 06:11] cain commented on #60
@SaraVieira can you add me as a collaborator to push to this branch? 😃

[2018-06-04 06:48] SaraVieira commented on #60
Of course! Done! 🎉

[2018-06-04 10:15] SaraVieira commented on #69
closed by #65

[2018-06-04 10:15] #69 closed

[2018-06-04 12:23] onstash opened #73 ""The Language of the System" not playing video in Cinema Mode"
<img width="413" alt="screen shot 2018-06-04 at 17 49 53" src="https://user-images.githubusercontent.com/4272832/40917166-e3d0403a-681f-11e8-8ab6-18bd78e3cad9.png">

The above talk does not seem to load in Cinema Mode because the author has disabled playing of that video on websites other than Youtube.

<img width="1294" alt="screen shot 2018-06-04 at 17 50 47" src="https://user-images.githubuserc

[2018-06-04 12:32] SaraVieira commented on #73
Damn! I don't think there is anything we can do :(

[2018-06-04 13:14] pksjce commented on #73
Yeah.. I dont think there's anything that can be done here :(

[2018-06-04 14:00] sudovijay commented on #73
One workaround to this is fetch direct video link from youtube api and then may be use browsers inbuilt player to play that file (instead of implementin our own player). We could do that as a fallback option.  just like [videojs](https://videojs.com/) do, quite possible but not worth it.  closing this for now, will come back to this later if we've multiple such issues.

[2018-06-04 16:19] scottaohara opened #75 "Add new talk button keyboard functionality"
The "Add new talk" button now announces itself as a button and is accessible by the <kbd>tab</kbd>  key per [PR #74](https://github.com/SaraVieira/awesome-talks/pull/74), but additional functionality needs to be added to this element.

Since this is a `role="button"` and not a true `<button>` element, <kbd>space</kbd> and <kbd>enter</kbd> keys do not activate the button in all browsers.

Ideally t

[2018-06-04 16:30] sudovijay commented on #75
turning the element to `button` seems better idea, much better than using JS on the element, making changes .. thanks ! @scottaohara  never thought of this tbh !

[2018-06-04 16:39] onstash commented on #73
Thanks for the response, guys. 😄

[2018-06-04 16:50] onstash commented on #59
Hi @SaraVieira. I would like to contribute to fixing this issue. But I have not worked with SVGs and video. Could you please point me in a direction to solve this? Thank you in advance. 😃

[2018-06-04 16:55] SaraVieira commented on #75
@sudovijay sorry man, I already done this, I have too much free time :(

https://github.com/SaraVieira/awesome-talks/pull/76

[2018-06-04 16:59] sudovijay commented on #75
lol @SaraVieira  your fast, i actual did this too but didn't push , it just i was lookin into styled component docs to check if there's any other way to extend global styles in it without using class.

[2018-06-04 16:59] #75 closed

[2018-06-04 21:15] cbh6 commented on #34
I think I'll take a look at this. 👍

[2018-06-05 00:03] cain opened #78 "Auto deployment"
Possibly setup some auto deployment for master to awesometalks.party? @SaraVieira

[2018-06-05 00:07] #78 closed

[2018-06-05 00:12] cain opened #79 "Turn cinema mode into video page."
Personally, I think that cinema mode doesn't make sense.

Maybe changing the "cinema mode" into a video page with a URL. That way it can be shared.

[2018-06-05 00:53] hosmelq commented on #60
@cain are you working on this ?

[2018-06-05 00:58] cain commented on #60
Don't have time at the moment. Go ahead if you'd like!

[2018-06-05 01:37] sudovijay commented on #79
Sound similar to having single video page,  Already a PR in progress #34.  Can discuss further there

[2018-06-05 01:37] #79 closed

[2018-06-05 01:43] sudovijay commented on #35
This seems to be complete now, closing this issue 🙂

[2018-06-05 01:43] #35 closed

[2018-06-05 10:08] dimitarnestorov opened #81 "Text overflow"
A picture is worth 1000 words:
![image](https://user-images.githubusercontent.com/8790386/40969769-72a41f06-68c1-11e8-8f54-76dc8eaccb9d.png)

[2018-06-05 10:17] SaraVieira commented on #81
Oh dang, gotta get that overflow ellipsis

[2018-06-05 14:06] sudovijay commented on #81
Already cutting the string above the length 60, so i quess this is a better fix ef4d011a2c96d2145248d1c6f1dcd4562802f7a2 , closing this issue 🙂

[2018-06-05 14:06] #81 closed

[2018-06-06 01:12] cain opened #86 "Video thumbnail image size"
<img width="300" alt="screen shot 2018-06-06 at 10 56 36 am" src="https://user-images.githubusercontent.com/15246256/41010315-f50e552a-6979-11e8-991d-33ac91fddda4.png">

Image thumbnails look pretty bad on retina screens due to the size. And it looks like all the other resolutions youtube provide dont really work with our 3 column layout.

Thoughts on a 4 column layout instead?
<img width="400" al

[2018-06-06 02:18] #42 closed

[2018-06-06 02:19] pksjce commented on #72
Isnt this the same as "Favorite"-ing feature we have right now?

[2018-06-06 02:31] pksjce commented on #59
@onstash - To fix this bug, I would follow the steps below
1. Consistently reproduce the bug and inform us of the enviroment. Ppl in this thread seemed to have worked on it. Verify that its true.
2. Look for logs on the browser's console indicative of the error.
3. All the code for this part of the feature is in https://github.com/SaraVieira/awesome-talks/blob/master/src/Components/CinemaMode/inde

[2018-06-06 03:16] siddharthkp commented on #72
How I imagine it: If you like something you ❤️ it, and then others get recommendations based on that (popular talks)

I would like to save a talk to watch later = bookmark

[2018-06-06 03:43] sudovijay commented on #72
Bookmark doesn't sound good, it's a video.  Something like `Watch Later` sounds good to me, Favorite is more or less similar to `Liked Videos`. if we really wanna do this all we gotta do is add a icon below Watched talks, everything else will be like fav.

[2018-06-06 03:47] sudovijay commented on #86
we could implement something like `srcset` here, anyway @cain  did you tried other reso. that youtube provide

`https://img.youtube.com/vi/NAimzL6XXAY/mqdefault.jpg
https://img.youtube.com/vi/NAimzL6XXAY/hqdefault.jpg
https://img.youtube.com/vi/NAimzL6XXAY/maxresdefault.jpg`

the one with `maxres` should look fine i quess.

[2018-06-06 03:52] pksjce commented on #72
But we currently don't have the concept of a "User" in the app right? How will you store this info beyond the current session?

[2018-06-06 03:58] sudovijay commented on #72
We don't need "User" concept for that, its all localStorage / Cookies (which of course has less limit), just like we doing for fav.
NO, wait. we're not doin' anything lol it even doesn't seem to store favs longer than session. is it due to SSR ?

[2018-06-06 04:01] sudovijay commented on #72
localStorage seems to work fine, it just we need to re render few stuff when the app did actually get mounted on client side. otherwise there's no point of having fav or watched talks.

[2018-06-06 04:07] sudovijay commented on #59
@onstash  you might wanna try this on a local env with dev version of react as that'll show much better logs. much easier to debug actually and start with window machine as @hosmelq  can reproduce this on it .

[2018-06-06 04:36] siddharthkp commented on #72
🤔 I'm not sure, how do we store favorites/already seen right now?

[2018-06-06 06:10] alexnm opened #87 "Just a thought: Notification when new content is published"
I was thinking that we publish a lot of videos and this will be ongoing, but how can we notify the users that we did that? Does it make sense? What would work best and not be spamish? I'm thinking it can attract more people to the website. I guess it's an open discussion.

[2018-06-06 06:38] pksjce commented on #87
Well, I have notification off on my browser. I would appreciate a transient "fresh content" section or category though.

[2018-06-06 06:40] sudovijay opened #88 "Lets have some cookies 🍪"
As we doing SSR and storing favs and watched videos in localStorage, There's no way we can access that on server level so right now neither of them seems to be working as they are kinda limited with session more or less.
One way to do is re render few stuff at client side when the app actually get mounted
Even the dark mode fall to default as we ain't storing the state anywhere

Other way is to ha

[2018-06-06 06:47] sudovijay commented on #87
@pksjce  Well, push notifications are great for engagement at-least for webmasters,  not everyone turns them off just like ad blocker (sometime you gotta think about others too lol JK ) but yeah having a "fresh content" section is a cool idea too but for that they have to visit site at regular intervals even when no new content is posted.

[2018-06-06 10:17] SaraVieira commented on #87
I was thinking about creating a twitter account that would tweet new videos as we post them and we do have an RSS feed because it's 2004

But the fresh content one is a really simple one to do :)

[2018-06-06 10:18] SaraVieira commented on #72
Local storage

[2018-06-06 12:02] sudovijay commented on #88
Now thats weird, the Great @SaraVieira don't have experience with cookies, i thought she like cookies too ..
Well, i'll try to do this tonight, tbh there's no way we could achieve this without cookies as we doing SSR. I mean we could do something like storing user ip & settings in server but that'll be too much stuff tbh , and yes we have to add that warning thing, Thanks to EU Cookie Law 🇪🇺

[2018-06-06 12:07] SaraVieira commented on #88
I like to consume them, not create them :p .

Here are is a package for the law:
https://github.com/buildo/react-cookie-banner

Just saw that we use cookies for favorites, watched and also check if you like dark mode and saw this banner already ahah

[2018-06-06 12:10] sudovijay commented on #87
`TWITTER BOT 🤖`  thats sounds coool, We should do that too.

 RSS feeds ain't going anywhere girl , everyone should have 'em 🙂

[2018-06-06 15:14] SaraVieira commented on #87
https://twitter.com/TalksAwesome

Twitter bot :D

[2018-06-06 15:19] sudovijay commented on #87
Awesome gurl 🙂  is this with that server less thing? lol , i actually never left server 🙂

[2018-06-06 15:23] SaraVieira commented on #87
So that was a failed experiment, it's deployed under bot.awesometalks.party

The code is here: https://github.com/SaraVieira/awesome-talks/tree/master/bot

[2018-06-06 15:29] sudovijay commented on #87
so this gonna work like hook right? i mean it get called anytime you publish some video and will post the latest one?

look clean 🙂

[2018-06-06 15:41] onstash commented on #59
Thanks for the detailed inputs, @pksjce and @sudovijay. Unfortunately, I don't have a Windows machine. I use a MacBook Pro.

1. I was able to consistently reproduce the bug on Chrome v66.0.3359.181 and Opera v53.0 on my MacBook Pro running macOS Sierra v10.12.6.

    Steps to reproduce the bug (it's a visual jank) -
    * Load any talk in cinema mode
    * Keep the talk video playing
    * Hover o

[2018-06-06 16:23] SaraVieira commented on #87
work like hook ? Work Life balance ? Let's not even start ahah

When you update a video from unppublished to published it will trigger that and post all the info on twitter :D

This is one of those things that I assumed would be waaaaay more complicated

[2018-06-06 16:37] sudovijay commented on #87
Well, thats more like hook than 😆 using such words just so i sound more experience dev, which im not . just like the `Render Props` thing lol , yeah!! im a subscriber of the react podcasts 🙂

[2018-06-06 16:53] SaraVieira commented on #87
Damn ! My jokes are spread all over now ...

[2018-06-06 17:14] sudovijay commented on #88
done in #89, Closing now .

[2018-06-06 17:14] #88 closed

[2018-06-06 18:13] SaraVieira commented on #87
@alexnm @pksjce  Are you okay with the twitter bot ?

[2018-06-06 18:14] SaraVieira commented on #86
Fixed by https://github.com/SaraVieira/awesome-talks/commit/31273f98a8fc6631caf210a37d82d25e65d97afb

Four column layout would make it to squished , I would rather go for a two column layout

[2018-06-06 18:16] alexnm commented on #87
wow you move fast, I was working all day just got notifications for this, looks good :)

[2018-06-06 18:21] #17 closed

[2018-06-06 18:31] sudovijay commented on #59
@onstash  Tag Sarah Drasner? lol  your not serious bro 🙂 anyway about reproducing the bug try updating your chrome ( current vers. 67.0.3396.79) for mac & lemme know if you can still reproduce it as i can't, everything seems fine to me, can't be SVGs though.

[2018-06-06 23:30] pksjce commented on #87
Followed! You really do move fast!

[2018-06-07 04:28] onstash commented on #59
When hid the SVGs using "display: none" technique / hack, I could not find the jank issue. That's why I suggested we tag Sarah Drasner and people who have worked with SVGs.

[2018-06-07 10:51] lukeb-uk opened #90 "Wrong Speaker info for Luke Bonaccorsi"
The twitter link for my page is messed up, it has the twitter URL in there twice and currently links to `https://twitter.com/https://twitter.com/lukeb_uk`

[2018-06-07 11:37] sudovijay commented on #90
Yep. stored the full url instead of username 🙂 , thanks @lukeb-uk , just another mistake

[2018-06-07 12:59] SaraVieira commented on #90
Hey !

I'm so sorry @lukeb-uk ! Turns out I did that to a bunch of people including myself :(

It has been fixed and should be updated on the website this afternoon

[2018-06-07 12:59] #90 closed

[2018-06-07 13:55] lukeb-uk commented on #90
🎉 Thank you @SaraVieira, and thank you for such a great site!

[2018-06-07 20:03] gsimone commented on #60
I'd be happy to give it a go this weekend, do you have a source (sketch, w/e) for the new design?

[2018-06-07 20:05] SaraVieira commented on #60
@gsimone there is a figma file we can share if you give us your email :)

[2018-06-07 20:09] gsimone commented on #60
Sure, gianmarcosimone89@gmail.com

[2018-06-07 20:10] SaraVieira commented on #60
@cain Can you invite him ? :)

[2018-06-07 21:28] sudovijay commented on #86
lets close this for now,  three column layout seems perfect too me 🙂

[2018-06-07 21:28] #86 closed

[2018-06-08 00:02] cain commented on #60
@SaraVieira @gsimone I've started working with this design. I'll push my code to the feature branch that was made soon :)

[2018-06-08 08:52] alanone1 opened #94 "Wrong Speaker info for Alan Kay"
Hey! The info on Alan Kay is wrong, what is wrong is you are showing the "Fry the Monkeys" Alan Kay instead of the Computer Science Turing Award Alan Kay (check out the very different likenesses, etc.(

[2018-06-08 10:08] pksjce commented on #94
Oh god! You are right. I fixed it on graphcms. @SaraVieira - This doesnt seem to take effect on the website. But I saw on my local that it was fetching the right data. Does it require a restart of the app server?

[2018-06-08 12:27] SaraVieira commented on #94
Oh shit ! I will deploy a new version this afternoon :)

[2018-06-08 12:29] SaraVieira commented on #60
@cain Awesome ! Thank you :D

[2018-06-08 12:31] alanone1 commented on #94
No problem with me at all ... there are lots of "Alan Kay"s -- a judge, a classical clarinet player, a management consultant, a professional wrestler, a survivalist, etc. Probably an ax murderer (the law of large numbers, etc.)

But the one who did the two talks c'est moi.
Cheers
Alan

      From: Sara Vieira <notifications@github.com>
 To: SaraVieira/awesome-talks <awesome-talks@noreply.github.co

[2018-06-08 13:00] SaraVieira commented on #94
Again so sorry, and sorry you created the GH profile for this, it has been fixed: https://awesometalks.party/speaker/alan-kay

Thank you for being understanding

[2018-06-08 13:00] #94 closed

[2018-06-12 01:16] cain opened #100 "Yarn error!"
Can someone please help me verify this issue with the current master branch. But ever since the weekend, I haven't been able to yarn install with the error below:

<img width="500" alt="screen shot 2018-06-12 at 11 10 58 am" src="https://user-images.githubusercontent.com/15246256/41264738-ae67f4b6-6e31-11e8-847e-45d870af3fd7.png">

`
error An unexpected error occurred: "EISDIR: illegal operation o

[2018-06-12 01:17] cain commented on #100
I can install with my forked repo which is 13 commits behind master https://github.com/cain/awesome-talks

[2018-06-12 01:22] cain commented on #100
nevermind, was my yarn version 😅

[2018-06-12 01:22] #100 closed

[2018-06-12 12:05] pksjce commented on #59
@onstash - Lets try to debug this ourselves first 👍 I'm also seeing the issue quite consistently on Chrome. Will try to see if I can find out why :)

[2018-06-12 12:09] pksjce opened #101 "Filters on the home page"
It would be pretty cool to make a "Advanced search" where we can filter over multiple authors, tags and durations.

I just learned how to filter on the graphiql tool and making the query was really satisfying!
I'd love to work on it if everyone likes the idea. I'd initially put an "Advanced Search" link below the actual search and open a modal where one can filter over a few parameters. We can the

[2018-06-12 13:21] SaraVieira commented on #101
That would be incredible !

I would avoid a modal maybe and just put it below the search as a dropdown that only shows when the person clicks on it but we can work on that later :)

❤️

[2018-06-12 19:21] onstash commented on #59
Sure, @pksjce. 😄  Apologies for my inability to contribute to this issue, though. 😞

[2018-06-20 11:06] cmcinroy opened #102 "Feature request: Add Date attribute"
Would be great to be able to filter/sort by date of the talk.

Perhaps default to the date posted?... could be overridden if for some reason the actual date of the talk is known and is more accurate.

Love the site/concept.

[2018-06-25 02:34] pksjce commented on #102
Would be great to have this. At some point, we plan to have a filter feature. Would be useful for that. https://github.com/SaraVieira/awesome-talks/issues/101

[2018-07-02 18:07] SaraVieira opened #104 "Add other speaker videos in Single Video Page"
Would be great to show all the videos by a speaker in the single video page

Query is already added in VIDEO_DATA.js

Use same design as homepage but with just thumbnail and name of video

[2018-07-02 18:08] SaraVieira commented on #52
Closed as not PWA anymore and cache is on

[2018-07-02 18:08] #52 closed

[2018-07-05 12:58] sahitpj commented on #102
I would like to work on this, if the issue is still active !

[2018-07-05 15:02] SaraVieira commented on #102
I just merged it sorry :(

closed by https://github.com/SaraVieira/awesome-talks/pull/105

[2018-07-05 15:02] #102 closed

[2018-07-05 15:02] SaraVieira commented on #101
closed by https://github.com/SaraVieira/awesome-talks/pull/105

[2018-07-05 15:02] #101 closed

[2018-07-05 15:02] SaraVieira commented on #34
cllosed by https://github.com/SaraVieira/awesome-talks/pull/105

[2018-07-05 15:02] #34 closed

[2018-07-05 15:02] SaraVieira commented on #68
closed by https://github.com/SaraVieira/awesome-talks/pull/105

[2018-07-05 15:02] #68 closed

[2018-07-05 23:16] pksjce commented on #101
you are awesome!

[2018-07-10 11:14] shyamks commented on #36
Hey @SaraVieira ,
I was looking at contributing to this. How do you think the page would look if it looked similar to the favourite page ?

[2018-07-27 08:22] shaunmolloy opened #107 "Bug: order for date pulls results in reverse order"
# Bug: order for date pulls results in reverse order

![screen shot 2018-07-27 at 08 57 02](https://user-images.githubusercontent.com/8168925/43309961-2808a170-917e-11e8-8f6d-f59f42abb007.png)

https://en.wikipedia.org/wiki/Sorting#Sorting_information_or_data

![screen shot 2018-07-27 at 09 21 16](https://user-images.githubusercontent.com/8168925/43310063-7964d9bc-917e-11e8-851f-3bda314bd75a.png)

[2018-07-27 10:21] SaraVieira commented on #107
Hey !

From what I see when I use order in Year as ASC I start with talks from 2008 and then it keeps going up

Is that wrong ?

[2018-07-27 10:40] shaunmolloy commented on #107
[code]

[2018-07-27 11:32] SaraVieira commented on #107
That's what is happening if you select by year but the created at is not for the talk but for when it was added into the DB

[2018-07-27 11:41] shaunmolloy commented on #107
Ah, so it would probably need adjusting on the frontend, so it's not confusing to the user.

[2018-07-27 11:49] SaraVieira commented on #107
That is a good point :(

What should I call it?

[2018-07-27 11:53] shaunmolloy commented on #107
"Date added" instead of "created at" might make more sense.

![screen shot 2018-07-27 at 12 51 39](https://user-images.githubusercontent.com/8168925/43319254-ec0b803e-919b-11e8-9896-5ba1234fcb53.png)

[2018-07-27 12:49] SaraVieira commented on #107
That date is the video year that I get from youtube :(

[2018-07-27 12:49] SaraVieira commented on #107
And I'll change that to date added, that makes more sense :)

[2018-08-02 20:54] #107 closed

[2018-08-02 20:54] SaraVieira commented on #36
fixed by #106

[2018-08-02 20:54] #36 closed

[2018-08-02 20:54] #59 closed

[2018-08-05 08:18] deadcoder0904 opened #110 "[Question] Why does Importing Mutation in Resolver doesn't work but Copy-Pasting it works?"
Hey Sara, thank you for this project. I have learned everything about Apollo from you & apollo-link-state from this project 🙌

But I have a question. Why does this work❓ 😃

https://github.com/SaraVieira/awesome-talks/blob/83174baf8d5e7c5d5731673b05aa5b6ebe973bfe/src/Utils/stateLink.js#L28-L32

And if I do this, it doesn't work 😞

[code]

[2018-08-18 07:03] scriptnull opened #111 "Ask for video link instead of video ID in "Add a Talk""
I would like to start by saying that awesometalks.party is totally awesome ✨ and I have been using it for a while to watch videos. Recently I wanted to add a talk to the curation and saw this

![screen shot 2018-08-18 at 12 03 40 pm](https://user-images.githubusercontent.com/4211715/44296549-c963cb00-a2de-11e8-93e1-50c21c858bd7.png)

I feel that it would be more intuitive for people to paste a lin

[2018-08-18 07:07] SaraVieira commented on #111
Hey!!

Awesome that you love the website 😍

You may have an old version of the page because of the service worker we had in the beginning :(

Can you try hard refreshing? If it doesn't work let me know and I will upload an unregister service worker

This has already been addressed as some people had the same doubt so now you paste the YouTube link and the code cleans that out and gets the video ID

[2018-08-18 07:44] scriptnull commented on #111
Thanks, 👍 I hard refreshed and I am able to see the new version (lol, I had missed out a lot of cool stuff like dark mode all these days 😆 )

But, I think there might be something weird going on. Because, when I visit the site next time in a new tab, it is still loading the old version. Hence I need to hard refresh every time after visiting the site.

[2018-08-18 09:53] SaraVieira commented on #111
Oh! That is not good :(

Can you please tell me the path of the service worker? So I can push a
change to unregister it?

On Sat, 18 Aug 2018, 09:44 Vishnu Bharathi, <notifications@github.com>
wrote:

--

Thank you
Sara Vieira

[2018-08-18 09:58] SaraVieira commented on #111
Also, can you please it in another issue :)

Thank you for letting me know :)

[2018-08-18 09:58] #111 closed

[2018-08-22 14:30] jceelen opened #112 "deeplinks to video page not working"
Expected behaviour: if I copy a link of the videopage like: https://awesometalks.party/video/cjkccx0b21vd30181idvdjstn or share it via twitter the page should show the video as if I navigate from the homepage.

Instead I get a blank screen and the page keeps loading forever... I am not a developer but Google Dev tools says something about provisional headers are shown, maybe that helps?

![new_tab

[2018-08-22 14:47] SaraVieira commented on #112
Good catch! I'll dive into this now :)

[2018-08-22 15:16] SaraVieira commented on #112
Fixed and deployed! Thank you!

[2018-08-22 15:16] #112 closed

[2019-01-25 19:46] anabellaspinelli opened #115 "Categories page only render while reloading"
The categories page on the site is not rendering on navigation.

I'm experiencing this issue in Chrome Version 71.0.3578.98 (Official Build) (64-bit) (OSX)

The page is blank when I navigate to it, but then renders for a split second while reloading, and comes back to blank.

Is anyone else experiencing it too?

[2019-01-28 09:40] SaraVieira commented on #115
Closed by https://github.com/SaraVieira/awesome-talks/pull/116

[2019-01-28 09:40] #115 closed

[2019-03-10 19:19] iamstratos commented on #104
@SaraVieira looks like it's already done!

[2019-03-11 09:24] SaraVieira commented on #104
True! Thank you!

[2019-03-11 09:24] #104 closed

[2019-05-13 15:05] karanisverma commented on #18
Hey I would love to pick this up! Please help me understand what needs to be done and from where i can get started

[2019-08-27 04:58] sdras opened #117 "Wrong Speaker info for Sarah Drasner"
Hey! The info on Sarah Drasner is wrong, what is wrong is:

Sarah Drasner is an award-winning Speaker, Head of Developer Experience at Netlify, Vue core team member, and Staff Writer at CSS-Tricks. Sarah is formerly Principal Lead of Emerging Markets, Cloud Advocates at Microsoft and Manager of UX & Engineering at Trulia/Zillow Group. She’s the author of SVG Animations from O’Reilly and has given

[2019-09-05 13:54] SaraVieira commented on #117
Ooops

I fixed it and I will redeploy that today

Danke

[2019-09-05 13:54] #117 closed

[2020-06-07 23:28] sw-yx opened #119 "Site no longer accessible via https://awesometalks.party/"
Hi @SaraVieira ! I wanted to link someone to this but noticed the domain no longer resolves.

Are you still interested in maintaining the project? also I was wondering if you would be willing to share the data as it was very valuable and i wanted to recommend to others.

thank you!

[2020-06-08 14:00] SaraVieira commented on #119
Hey!

I have no idea what happened, this repo was connected to vercel and it just isn't anymore and the deploy isn't working either

They must have killed all the now v1 stuff and this will not work on version two

I would have to almost make it from scratch I think

Let me try and figure this out and I'll let you know

[2020-06-08 15:15] sw-yx commented on #119
ok :)

[2020-06-17 17:50] SaraVieira commented on #119
I can't figure out why vercel stopped deploying it, if you want to work with the data the best I can give you is the endpoint: https://api-uswest.graphcms.com/v1/ck67w2glj2d7p01936oo7gna0/master

I will contact graphcms to see if I can extract the data

[2020-06-17 18:35] sw-yx commented on #119
awesome, very kind of you :)

[2020-06-18 15:38] SaraVieira commented on #119
Omg! We will do this together, give me an hour

[2021-02-23 22:18] mintyPT commented on #119
It's been an hour :)

[2021-02-23 22:30] SaraVieira commented on #119
ahahahahah, valid point

Seems graphcms has been shut down, trying to clone it to the new system

[2021-02-23 22:37] SaraVieira commented on #119
The endpoint is now public and you can query here: https://api-eu-central-1.graphcms.com/v2/ck67w2glj2d7p01936oo7gna0/master?query=%7Bvideoses%20%7B%0A%20%20id%0A%7D%7D

Message support to get all the data

[2021-02-24 19:32] SaraVieira commented on #119
I spoke to them, there is no way to export the whole data as json or zip but you can query from that endpoint with no restrictions now

[2021-03-01 18:10] sw-yx commented on #119
thanks so much @SaraVieira!!! i will work on this as I think it is a great service to the community :)

[2021-03-01 18:11] SaraVieira commented on #119
Nice! Let me know when you are done so I can close my account at graohql :)

[2021-03-01 18:11] sw-yx commented on #119
this is a weekend project for me so i'll scrape the data this weekend

[2021-03-06 22:56] sw-yx commented on #119
hey gang - done! https://github.com/sw-yx/awesometalksdata i hope i did it right - 174 speakers, 222 talks, does that sound right?

also as far as i can tell there were no uploaded assets, it was all just hotlinked to youtube.

as next steps i'd be interested in adding it as a page to my site, with attribution to this project of course.

but at least the data is backed up now.

[2022-02-23 06:10] iShelar commented on #119
@sw-yx & @SaraVieira Thank you guys.

[2022-05-09 12:31] #6 closed

[2022-05-09 12:31] #18 closed

[2022-05-09 12:31] #60 closed

[2022-05-09 12:31] #71 closed

[2022-05-09 12:31] #110 closed

[2022-05-09 12:35] SaraVieira commented on #119
You are super right!

All done! I might bring it back but it will definitely be in another repo and with newer tech

Also archived the repo